*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(../IMG/Fondo3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.Regitro{
    width: 400px;
    background: #24303c;
    padding: 30px;
    margin: auto;
    margin-top: 50px;
    border-radius: 4px;
    font-family: 'calibri';
    color: white;
    box-shadow: 7px 13px 37px #000;
}

.Regitro h4{
    font-size: 22px;
    margin-bottom: 20px;
}

.control{
    width: 100%;
    background: #24303c;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #4d0686;
    font-family: 'calibri';
    font-size: 18px;
    color: white;
}

.Regitro p{
    height: 40px;
    text-align: center;
    font-size: 18px;
    line-height: 40px;
}

.Regitro a{
    color: white;
    text-decoration: none; 
}

.Regitro a:hover{
    color: white;
    text-decoration: underline; 
}

.Regitro .boton{
    width: 100%;
    background: #4d0686;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
}
.acceder{
    margin-left: 1170px;
    margin-top: 30px;
    text-align: center;
}
.acceder a{
    color: white;
}